<!DOCTYPE html>
<html>
	<head>
		<title>Sports Ball Shop</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= yield :note %>
		<%= yield %>
	</body>
</html>
